.App {
  text-align: center;
}

body {  
  background:linear-gradient(
      rgba(30,27,38, 0.95), 
      rgba(30,27,38, 0.95));
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  padding: 20px;
}

.header{
  color: #e7e7e7;
  margin: auto;
  font-size: 50px;
  border-bottom: thin solid #e7e7e7;
  padding-bottom: 40px;
  max-width: 600px;
  min-width: 375px;
}

.container{  
  display: flex;
  width:375px;
  min-height: 500px;
  max-height:1000px;
  background-color:#1e1b26;
  margin : 100px auto 0 auto;
  box-shadow:5px 5px 115px -14px black;
  border-radius: 4px;
}

.movies{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,1e1b26+53&0+38,1+55 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 38%, rgba(255,255,255,0.06) 39%, rgba(30,27,38,0.88) 53%, rgba(30,27,38,1) 55%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 ); /* IE6-9 */
  position:absolute;
  background-size: contain;
  background-size: cover;
  /* z-index:1 !important; */
  width:375px;
  min-height: 300px;
  max-height:950px;
  display: flex;
  flex-wrap: wrap;
  border-radius:4px;
}

.text-movie-cont{
  padding:0px 12px;
  display: inline-block;
  justify-content: initial;
  text-align: left;
}

.summary-row{
  text-align: left;
  margin: 12px;
  width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

h1,h2,h3,h4,h5 {
  font-family:'Montserrat', sans-serif;
  color:#e7e7e7;
  margin:0px;
}

h1 {
  font-size:20px;
  font-weight:600;
  margin:10px 10px 10px 0px;
}

.movie-gen{
  margin:10px 10px 10px 0px;
  padding:0px;
  color: #e7e7e7;
  display: flex;
  justify-content: flex-start;
}

.movie-gen span{
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:400;
}

.genre{
  margin: 3px;
}

.movie-description {
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:400;
  color:#e7e7e7;  
  text-align: justify;
  line-height: 1.3;
}

.movie-actors {
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:400;
  color:#e7e7e7;
  font-style: italic;
}

.movie-img {
  width:100%;
  height:380px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position:relative;
}

.modal{
  background-color: #1e1b26;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%; 
  width: 300px;
  height: 400px;
  margin-left: -150px;
  margin-top: -225px;
}

form {
  display: flex;
  flex-wrap: wrap;
  border: thin solid #e7e7e7;
  width: 30%;
  color: #e7e7e7;
  max-height: 250px;
  justify-content: space-evenly;
  align-content: center;
  margin: 40px auto auto auto;
  padding: 15px;
  width: 300px;
}

.form-container{
  display: inline-block;
  flex-wrap: wrap;
}

.form-head{
  font-size: 30px;
  font-weight: bold;
}

.form-label{
  margin: 10px;
}

.form-input{
  margin: 10px;
  border: 0;
  border-bottom: thin solid #e7e7e7;
  outline: 0;
  color: #e7e7e7;
  background: transparent;
  padding: 3px;
}

.form-submit{
  background-color: transparent;
  color: #e7e7e7;
  border:0.1em solid #e7e7e7;
  padding:0.35em 1.2em;
  border-radius:0.12em;
  font-weight:300;
}

.form-submit:hover{
  color:#000000;
  background-color:#FFFFFF;
}

.redirect-button{
  margin: 20px;
  background-color: transparent;
  color: #e7e7e7;
  border:0.1em solid #FFFFFF;
  padding:0.35em 1.2em;
  border-radius:0.12em;
  font-weight:300;
}

.redirect-button:hover{
  color:#000000;
  background-color:#FFFFFF;
}